body{
    background:white;
}

.container{
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.row{
    margin: 10px;
}

.img1{
    border-radius: 100%;
    max-width: 90%;
    height: auto;
}

.container-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.form{
    width: 80%;
    padding:20px 60px 20px 60px;
    background-color: gainsboro;
}

.btn{
    margin-top: 10px;
    float: right;
    
}