<div class="container-contact">
    <div class="row">
        <h1>Portfolio</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum corrupti aut sunt placeat, sapiente id, quasi error odio libero fuga ducimus doloribus. Autem expedita sint ad neque veniam architecto eius?</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="Project image">
            <div class="card-body">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id doloremque, velit hic pariatur incidunt, reprehenderit sequi aliquid eos fugit consectetur neque in, corrupti rerum nulla! Id minima esse ratione omnis!</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="Project image">
            <div class="card-body">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam quo facere autem praesentium? Eaque natus dolorem reprehenderit laboriosam, temporibus ullam, alias mollitia repudiandae neque repellat perferendis ad, iure deserunt nam?</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="Project image">
            <div class="card-body">
              <h5 class="card-title text-primary" >Project Name</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis excepturi ipsa magnam soluta id tempore ea placeat doloribus accusantium corrupti, eius fuga adipisci alias ratione! Voluptatum eos qui molestias recusandae.</p>
            </div>
          </div>
        </div>
      </div>  
</div>