<div class="position-relative">
    <img class="mw-100 mh-100" src="https://raw.githubusercontent.com/gabytochon/exercise-collaborative-html-website/master/website/assets/img/bg.jpg" alt="fondo">

    <h6 class="bg-white text-dark position-absolute bottom-50 start-50 translate-middle h-25 text-center pt-1 mb-0"
      style="font-size: 130px; width: 97%;">One Page Wonder</h6>

    <h6 class="bg-white text-dark position-absolute top-50 start-50 translate-middle text-center"
      style="font-size: 75px; width: 97%; height: 95px;">Will Knock Your Socks Off</h6>

  </div>